# OS-specific files
.DS_Store
Thumbs.db

# Node.js related
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build directories
dist/
build/

# Editor/IDE specific
.vscode/
.idea/
*.suo
*.njsproj
*.sln

# Logs
*.log
*.tmp

# System
__MACOSX/
